<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer class="footer" th:fragment="footer">

    <div class="clear">
        <div class="fl fbox1">


            <div class="copylight">COPYRIGHT © 2021 Hongtudio.V3 ALL RIGHTS RESERVED</div>
        </div>
<!--        ©-->
        <div class="fl fbox2">
            <ul class="clear">
                <li class="serviceBox_1">

                    <div class="Number lato">
                        1234-5678
                    </div>

                    <div class="info kr">
                        hongtudio@gmail.co.kr
                    </div>

                    <div class="info kr">
                        AM 10:00 ~ PM 12:00, PM 01:00~05:00
                    </div>

                    <div class="info kr">
                        주말, 공휴일 제외
                    </div>

                </li>
            </ul>
        </div>
    </div>
</footer>



