.footer {
    background-color: #f7f7f7;
    height: 325px;
    overflow: auto;
    width: 100%;

    display: table;
}

p {
    font-family: "Al Bayan";
    font-size: 40px;
}

.clear {
    /*display: inline-block;*/
    display: table-cell;
    float: none;


    padding: 50px 0 48px;
    /*width: 100%;*/
    /*height: 100%;*/
    min-width: 1300px;

}

.fl {
    /*background-color: aqua;*/
    display: inline-block;
}

.fbox1 {

    float: left;
    width: 40%;
    height: 100%;
    /*background-color: #666666;*/

    margin-left: 130px;
}

.fbox2 {

    float: right;
    width: 40%;
    height: 100%;
    /*background-color: aqua;*/

    margin-right: 130px;
}



.copylight {

    padding-top: 90px;

    font-size: 13px;
    font-weight: 300;
    line-height: 23px;
    color: #999999;
}

.Number {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
    color: #333333;
}

.info {
    margin-bottom: 11px;
    font-size: 13px;
    font-weight: 300;
    color: #666666;
}

.lato {
    'Lato', sans-serif !important;
}

.kr {
    font-family: "Noto Sans KR",sans-serif !important;
}
